span.name {
    color: #e00074;
}
.container{
    overflow-x: hidden;
  
        width: 90%;
        margin: 0 auto;
    
}
#home{
    
    width:100%;
    height:100%;
    position: relative;
    text-align: center;
}
#about{
    width:100%;
    height:100%;
    position: relative;
}
.text{
    color:white;
    top: 27%;
    left:8%;
    position: absolute;
    width: 100%;
    height: 20%;
    font-size: 1.8rem;
}
#myWork{
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    background: transparent;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    transition: all 0.5s;
    margin-top:30px;
}
body{
    font-family: Arial!important;
}
#backgroundImg{
    width: 100%;
    height: 100%;
}
.flex{

    padding: 15px;
    background: #001a33;
    margin-top: -9px;
    position: fixed;
    /* top: 0; */
    z-index: 99999;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -96px;
}
.page-link:hover{
    color:#e00074;
}
.page-link{
    padding:0px 15px;
    color:white;
}
.aboutHeader{
    /* text-decoration: underline; */
    text-align: center;
    box-shadow: 0px 0px 16px -5px black;
}
.card{
   
    width: 300px;
    height: 155px;
    margin: 15px;
    text-align: center;
    transition: width 2s, height 2s, transform 2s;
}
.card:hover{
    width: 350px;
    height: 200px;
    background-color: #d6f1ff;
}

b{
    color:white;
    font-size: 1.3rem;
    font-weight:500;
}
i{
    font-size:0.8rem;
    color:black;
}
.icons{
    width: 84%;
    margin: 0 auto;

    
}
.hexagon{
    border-bottom: 50px solid #04c2c9;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
    margin: 0 auto;
}

.flip{
    transform: rotate(180deg);
}

.quality1{
    width: 75px;
    position: absolute;
    z-index: 999;
    margin-top: -38px;
    background: transparent;
    margin-left: 62px;
}
.myPicture{
    width: 295px;
    height: 351px;
   

}
.githubLink{
    color:#7b9d6f;
    text-decoration: none;
  
}
.color{
    color:#7b9d6f;
}
.marginTop5{
    margin-top: 5%;
}
.homeText{
    font-size: 19px;
    width: 40%;
    margin: 0 auto;

}


#aboutMe{
  
    height: auto;
    text-align: center;
}
.myDetailsDiv{
    width: 99%;
    margin: 0 auto;
    text-align: center
}
#myProgress {
    width: 100%;
    background-color: lightgrey;
    margin:10px;
  }
  
  .myBar {
    width: 1%;
    height: 30px;
    background-color: #00a1a7;
   width:40%;
    -webkit-animation: slideIn 4s;
    -moz-animation: slideIn 2s;
    -o-animation: slideIn 2s;
    animation: slideIn 2s;
  }

.fill {
 
    background-color: #7b9d6f;
    

  }
  .meetingBtn{
    margin: 20px;
    font-size: 1.1rem!important;
}
  
  .percentage{
    background-color: transparent;
    color: darkslategray;
    float: right;
    padding: 4px;
  }
  .homeBtn{
    border: 2px solid #f97352;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    background: #f97352;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    transition: all 0.5s;
    margin-top: 30px;
  }
  
.skillText{
    background-color: transparent;
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
    float:left
}
.skillsDiv{
    width: 50%;
    margin: 0 auto;
}
a{
    color:white;
    text-decoration: none;
    transition:1s all ease-in;
    border:none;
}

.nav{
    background-color: transparent;
    color:white;
    border:none;
    margin:20px;
    font-size: 1.1rem;
}
.nav:hover{
    color:#e00074;
}
.value-50  {  width: 1%;width: 50%; background-color: #7b9d6f;  }
.value-75 {  width: 1%;width: 75%;   background-color: #7b9d6f;}
.value-65  { width: 1%; width: 65%;   background-color: #7b9d6f;}
.value-70  {  width: 1%;width: 70%;  background-color: #7b9d6f;}
.value-80  {  width: 1%;width: 80%;  background-color: #7b9d6f;}
.value-90  {  width: 1%;width: 90%;  background-color: #7b9d6f;}
.value-85 { width: 1%; width: 85%; background-color: #7b9d6f;}

@-webkit-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-moz-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-ms-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-o-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }

.projectHeader{
margin-top: 50px;
text-align: center;
}
.projectHeader h1{
background-color: #e6e6e6;
padding: 6rem;
box-shadow: 0px 0px 16px -5px black;
}

.achiveList{
    font-size: 0.9rem;
}

input:invalid {
    box-shadow: 2px 2px 5px orangered;
    }
    input:valid {
    border: 1px solid forestgreen;
    }
.aboutHeader{
    padding: 3rem;
}

.projectBtn{
    position: absolute;
    margin-top: -78px;
   
    width: 100%;
    margin: -80px auto;
}
.projectBtn button{
    width:16%;
    height: 35px;
    margin: 5px;
    border: none;
    background-color:transparent;
    color:#5e5e5e;
    transition: 1s all ease-in;
}
.projectBtn button:hover{
    width:18%;
    height: 40px;
    background-color: #e31b6d;
    color: white;

}
#submit{
    width:6%;
    height: 35px;
    margin: 5px;
    border: none;
    background-color:#e31b6d;
    color:white;
    transition: 1s all ease-in;
}
#submit:hover{
    width:8%;
    height: 40px;
    background-color: #e31b6d;
    color: white;

}
.projectHeader h1 hr{
    width: 10%;
    
    border: none;
    height: 3px;
    background-color: black;
    position: absolute;
    margin: 0px auto;
   
    left: 44%;
}
.navDiv{
    text-align: center;
}
#projectData{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    height:543px;
    justify-content: center
}
#emailBtn, #mobileBtn{
    background-color: #f97352!important;
    padding: 12px 20px!important;
    
}
.contactBtn{
    float: right;
    padding-right: 3%;
}

.imgDiv{
   width:404px; 
    height:268px;
    opacity: 1.6;
    position: absolute;
   
}
   
/* .imgDiv:hover{
    opacity: 0.2;
 
}  */
.hiddenDiv{
    opacity: 1.6s;
    width:404px;
    height:268px;
    position: absolute;
   
}
/* .hiddenDiv:hover{
    opacity: 1.6;
    
    
}  */
.viewMore{
    height: 35px;
    background-color: #e00074;
    border: none;
    color: white;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .buttonActive{
      background-color: #e31b6d!important;
      color:white!important;
  }
  .achiveList{
    text-align: initial;
  }
  #achievement{
    height: 910px;
  }

  .line{
    width: 4%!important;
    border: none;
    height: 3px;
    background-color: black;
    position: absolute;
    margin: 0px auto;
    left: 48%!important;
  }
  .labels{
    width: 35%;
    text-align: end;
    line-height: 3;
  }
  .inputs{
      width:65%;
      text-align:initial;
  }
  input{
      margin-bottom:10px;
  }
  .bold{
      color: black!important;
      font-size: 1rem!important;
      font-weight:600;
  }
  .oval{
    width: 190px;
    height: 80px;
    background-color: #f97352;
    margin: 20px;
   
  }
  .ovalDiv{
    background-color: white;
    display: flex;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .oval p {
    margin-top: 30px;
    margin-bottom: 35px;
    color:white;
    font-size: 20px;
  }
  #framework table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #framework{
    width: 100%;
    border-spacing: 0px;
  }
  #framework td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #framework th{
      background-color: black;
    color:white;  }
  #framework tr:nth-child(even) {
    background-color: #dddddd;
  }
  footer{
    background-color:gray;height:5%;width:100%;text-align:center;padding:100px;align-items: center;opacity:0.6
  }

  p {
    animation-duration: 1s;
    animation-name: slidein;
  }
  li{
    animation-duration: 1s;
    animation-name: slidein;
  }
  .animation{
    animation-duration: 2s;
    animation-name: slidein; 
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.homeAnimation{
    animation-duration: 2s;
    animation-name: slidein;
}

}
@keyframes slidein {
    from {
      margin-left: 100%;
        
    }
    to {
      margin-left: 0%;
     
    }
  }
  
#footerTable{
    width: 50%;
    margin: 0 auto;
}
#footerTable th{
    border:none;
    padding: 10px 5px;
    text-decoration: underline;
}
#footerTable{
    text-align:left;
}
@media screen and (max-width: 1000px) {
    .text{
        color:white;
        top: 48%;
        left:36%;
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
}